body{
    
    margin: 0;
    padding: 0;

    background:url('imagenes/fondo.jpg');
}

.fondoLogo{
    border: 1px solid black;
    
    height: 80px;
    
    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: 0px 1.5em 0px 1.5em;
    margin: 0px 0px 0px 0px;

    background-image: url('imagenes/logo\ fondo1.jpg');

}
/* logo */

#pnglogo{
    align-items: center;
    position: absolute;
    border: 1px solid;
    height: 172px;
    
    margin-top: -9px;
    padding: 0px;

    background-color: lavender;

    transition: 0.2s;
    z-index: 150;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    
}

#pnglogo p{
    align-items: center;
    word-break: break-all;
    margin: 16px 10px 16px 10px;
}

#pnglogo:hover{
    position: absolute;
    display: block;

    margin-top: 85px;

    transition: 0.5s;
    z-index: 150;
}

#pnglogo img{
    position: relative;
    top: 5px;
    left: 10px;

    
    
    
    height: 100px;
    
}

/* prueba */

#prueba{
    position: absolute;
    height: 200px;
    width: 200px;
    border: 1px solid;

}

#prueba:hover{
    transition: 1s;
    margin: 0px 0px 0px 100px;
}

/* texto del menu */

.navegacion a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lavender;

    text-decoration: none;

    margin: 7px;
}

.navegacion a:hover{
    text-decoration: underline;
    
}

#pnglogo p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: lavender;

    text-decoration: none;
}
/* mapa */
#pantalla{
    
    min-height: 85%;
}
#caja1{
    position: absolute;
    height: 510px;
    width: 533px;

    margin-top: 0px;
    margin-left: 202px;

    border: 1px red black;
    background-image: url(imagenes/mapa/aserradero_plottier.png);
    background-position: center;
    background-size: contain;
    background-repeat: none;
}

#caja2{
    position: absolute;
    height: 500px;
    width: 310px;
    margin-left: 1050px;
}

#caja3{
    position: absolute;
    height: 200px;
    width: 200px;
    margin-right: 0px;
    margin-top: 50px;
    border: 1px violet solid;
}

/* dentro de caja 2 */

#div_seleccion{
    background-color: saddlebrown;
    width: 100%;
    text-align: center;
    height: 70%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;

    border: 3px lavender solid;


}

#div_encargar{
    background-color: saddlebrown;
    width: 100%;
    text-align: center;
    height: 25%;
    padding-top: 30px;
    border: 3px lavender solid;
    border-top: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

/* lista de opciones */

ul{
    margin: 0px;
    list-style: none;
    padding: 0px;
    padding-left: 1em;
    padding-right: 1em;
}
ul li{

    margin: 0px;
    height: 24%;
    width: 100%;
    border: 1px solid lavender;
    border-radius: 20px;
    margin-top: 5%;
    background-color: burlywood;

    text-align: center;
    transition: 100ms;
}
ul li:active{
    scale: 0.9;
    transition: 100ms;
}

.justificar{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 40px;
}
hr{
    margin: 0px;
    margin-bottom: 17px;
}

#span_titulo{
    font-size: 16px;
}


/* hidden */

.hidden{
    display: none;
}

.block{
    display: block;
}
/* destinos */
/*#ferreteria_titan{
    display: none;
}
#corralon_ipc{
    display: none;
}*/

input[type="button"]{
    border: 1px black solid;
    background-color: rgb(28, 214, 11);
    height: 32px;
    margin-top: 30px;
}

